.App {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

a {
  color: #08583d;
}

.card {
  box-sizing: border-box;
  min-height: 50vh;
  background-color: #18faae;
  flex: 1;
  min-width: 50%;
  border: 5px solid white;
}

section#about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* margin: 4em; */
	/* padding: 4em; */
	font-size: 1.62em;
  height: 50vh;
}

section#about > div {
	margin: 1.62em;
	padding: 1.62em;
	background-color: #f2f2f2;
}

@media (max-width: 500px) {
  .card {
    min-width: 100%;
  }
}

@media (max-width: 800px) {
  section#about {
    font-size: 1.16em;
  }
}
