.ElementsContainer {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #838383;
  height: 50vh;
  font-family: "Inter";
}

.ElementsContainer .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2em;
  align-items: center;
  border-radius: 1em;
  background-color: #f2f2f2;
}

.ElementsContainer .gif {
  width: auto;
  border-radius: 1rem;
}

.ElementsContainer .heading {
  color: rgb(31, 31, 31);
  opacity: 0;
  font-weight: 700;
  margin: 0;
}

.ElementsContainer p {
  margin: 0;
  padding: 0;
  opacity: 0;
  color: grey;
}

.ElementsContainer button {
  border: 1px solid #e4e4e4;
  padding: 5px 15px;
  border-radius: 6px;
  background: white;
  cursor: pointer;
  transition: 0.3s all;
}

.ElementsContainer button:disabled {
  cursor: not-allowed;
}

.ElementsContainer button {
  margin-bottom: 3rem;
}
